@use 'base/variables' as v;
@use 'base/mixins' as m;
.navegacion {
    display: none;
    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin: 0 1rem;
        @include m.desktop {
            margin: 0;
        }
        &__enlace {
            color: v.$negro;
            font-weight: v.$regular;
            font-size: 1.6rem;
            transition-property: color;
            transition-duration: 200ms;
            &:hover {
                color: v.$naranja;
            }
        }
    }
}