@use 'base/variables' as v;
.envio {
    background-color: v.$naranja;
    padding: 1rem;
    &__heading {
        margin: 0;
        text-align: center;
        color: v.$blanco;
        font-size: 1.4rem;
        text-transform: uppercase;
    }
}